<ion-header>

  <ion-navbar>
    <ion-title>Edit Recipe</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <form [formGroup]="recipeForm" (ngSubmit)="onSaveRecipe()">
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" name="title" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-input type="text" name="description" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Difficulty</ion-label>
        <ion-select name="difficulty" formControlName="difficulty">
          <ion-option *ngFor="let difficulty of difficulties" value="{{difficulty}}">{{difficulty}}</ion-option>
        </ion-select>
      </ion-item>
      <button type="button" ion-button block clear (click)="onManageIngredients()">Manage Ingredients</button>
      <ion-list formArrayName="ingredients">
        <ion-item *ngFor="let igControl of recipeForm.get('ingredients').controls; let i = index">
          <ion-label floating>Name</ion-label>
          <ion-input type="text" [formControlName]="i"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block large [disabled]="!recipeForm.valid">Save Recipe</button>
    </form>
  </ion-list>
</ion-content>
