<ion-header>

  <ion-navbar>
    <ion-title>Recipes</ion-title>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button clear (click)="editRecipe()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <button 
      ion-item  
      *ngFor="let recipe of recipes"
      [navPush]="viewRecipePage" [navParams]="recipe.id">
      <p>{{recipe.title}}</p>
      <p class="difficulty">{{recipe.difficulty}}</p>
    </button>
  </ion-list>
</ion-content>
