<ion-header>

  <ion-navbar>
    <ion-title>View Recipe</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div text-center>
    <h1>{{recipe.title}}</h1>
    <p text-uppercase>{{recipe.difficulty}}</p>
    <p>{{recipe.description}}</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let ingredient of recipe.ingredients">
      {{ingredient.name}} - {{ingredient.amount}}
    </ion-item>
  </ion-list>

  <button ion-button
    (click)="onAddIngredientsToShoppingList()">Add Ingredients to Shopping List</button>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button text-center ion-button outline (click)="onEditRecipe()">Edit Recipe</button>
      </ion-col>
      <ion-col col-6>
        <button text-center ion-button outline color="danger"
          (click)="onDeleteRecipe()">Delete Recipe</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
