<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item icon-left
                (click)="onLoadPage(rootPage)"
                *ngIf="isAuthenticated">
                <ion-icon name="book"></ion-icon>
                Recipe Book
            </button>
            <button ion-item icon-left
                (click)="onLoadPage(signInPage)"
                *ngIf="!isAuthenticated">
                <ion-icon name="log-in"></ion-icon>
                Sign in
            </button>
            <button ion-item icon-left
                (click)="onLoadPage(signUpPage)"
                *ngIf="!isAuthenticated">
                <ion-icon name="person"></ion-icon>
                Sign Up
            </button>
            <button ion-item icon-left
                (click)="onLogout()"
                *ngIf="isAuthenticated">
                <ion-icon name="log-out"></ion-icon>
                Logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
