<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSignUp(f)">
    <ion-list>
      <ion-item>
        <ion-label fixed>Mail</ion-label>
        <ion-input 
          type="email" 
          name="email" 
          required
          ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input 
          type="password" 
          name="password" 
          required
          ngModel
          [minlength]="6"></ion-input>
      </ion-item>
      <button ion-button block type="submit"
        [disabled]="!f.valid">Sign Up</button>
    </ion-list>
  </form>
</ion-content>