<ion-header>

  <ion-navbar>
    <ion-title>Shopping List</ion-title>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only 
      (click)="onShowOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onAddItem(f)">
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input 
          type="text" 
          name="name" 
          required
          ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-input 
          type="number" 
          name="amount" 
          required
          ngModel></ion-input>
      </ion-item>
      <button ion-button block type="submit"
        [disabled]="!f.valid">Add</button>
    </ion-list>
  </form>

  <ion-list>
    <ion-item *ngFor="let ingredient of ingredients">
      {{ingredient.name}} - {{ingredient.amount}}
    </ion-item>
  </ion-list>

  <button ion-button block color="danger"
    (click)="onRemoveIngredients()">Remove Ingredients</button>
</ion-content>